
 <!-- ========== HEADER SECTION ========== -->
 <section id="home" name="home"></section>
 <div id="headerwrap">
   <div class="container">
     <div>
       <h1>Wookim's Project</h1>
     </div>
     <div id=contentLinkDiv>
       <a class="contentLink" href="#foliowrap">Javascript</a>
       <a class="contentLink" href="">Deep Learning</a>
       <a class="contentLink" href="">Stock Project</a>
     </div>
   </div>
   <!-- /container -->
 </div>
 <!-- /headerwrap -->

 <!-- ABOUT SECTION -->
 <section id="about" name="about"></section>
 <div class="container about">
   <div class="col-lg-6 col-lg-offset-3">
     <h3>About WooKim</h3>
     <h5>Machine Learning DEVELOPER</h5>
     <hr>
     <br>
     <h4></h4>
     <table class="intro">
       <tr>
         <th class="introTHead">Summary</th>
         <td class="introTd">
           Trying to solve various problems by using machine learning / deep
           learning such as stock price forecasting, MNIST data generation using
           GAN, Titanic survivor prediction, and so on. </td>
       </tr>
       <tr class="introTRow">
         <th class="introTHead">Skills</th>
         <td class="introTd">
           <ol class="introOL">
             <li>Using django, Build web page</li>
             <li>Using Python to process and analyze data to classify, predict, and generate new data. </li>
             <li>Using github to manage program's version </li>
           </ol>
         </td>
       </tr>
       <tr class="introTRow">
         <th class="introTHead">Education</th>
         <td class="introTd"> Physics Incheon University of Incheon</td>
       </tr>



     </table>
   </div>
   <!-- /col-lg-6 -->
 </div>
 <!-- /container -->

 <!-- ABOUT SECTION -->
 <section id="about" name="about"></section>
 <div class="container about">
   <div class="col-lg-6 col-lg-offset-3">
     <h3>About Page</h3>
     <hr>
     <br>
     <h4>1.<a href=""> Javascript</a> - Jam Calendar<br /></h4>
     <h6 class="aboutH6">&nbsp &nbsp &nbsp -Using JavaScript, Make A calendar sharing your schedule with your friends</h6>
     <h4>2.<a href=""> Deep Learning</a> - Using GAN, Generate Image<br /></h4>
     <h6 class="aboutH6">&nbsp &nbsp &nbsp -Using Deep Learning, Make A image MNIST number image data by GAN</h6>
     <h4>3.<a href=""> Stock Project</a> - Using ML, Predict Stock Price<br /></h4>
     <h6 class="aboutH6">&nbsp &nbsp &nbsp -Using Machine learning, predict stock price by random forest</h6>
   </div>
   <!-- /col-lg-6 -->
 </div>
 <!-- /container -->


 <!-- BEGIN CHART SECTION -->
 <div id="chartwrap">
   <br>
   <br>
   <div class="container centered">
     <div class="col-lg-3"></div>

     <!-- FIRST CHART -->
     <div class="col-lg-2">
       <canvas id="canvas" height="130" width="130"></canvas>
       <label><a href="#">JavaScript</a></label>

       <br>
       <br>
       <br>
     </div>
     <!-- col-lg-2 -->


     <!-- SECOND CHART -->
     <div class="col-lg-2">
       <canvas id="canvas1" height="130" width="130"></canvas>
       <label><a href="#">Deep Learning</a></label>
       <br>
       <br>
       <br>
     </div>
     <!-- col-lg-2 -->


     <!-- THIRD CHART -->
     <div class="col-lg-2">
       <canvas id="canvas2" height="130" width="130"></canvas>
       <label><a href="#">Strock Project</a></label>
       <br>
       <br>
     </div>
     <!-- col-lg-2 -->

     <div class="col-lg-3"></div>
   </div>
   <!-- container -->
 </div>
 <!-- chartwrap -->