{%load static%}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>Wookim's Portfolio</title>
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <meta content="" name="keywords">
  <meta content="" name="description">

  <!-- Favicons -->
  <link href='{% static "onePage/img/favicon.png"%}' rel="icon">
  <link href='{% static "onePage/img/apple-touch-icon.png"%}' rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic|Raleway:400,300,700" rel="stylesheet">

  <!-- Main Stylesheet File -->
  <link href='{% static "onePage/css/style.css"%}' rel="stylesheet">


  <link href='{%static "onePage/css/calendarCss.css"%}' rel="stylesheet" />


  <!-- Bootstrap CSS File -->
  <link href='{% static "onePage/lib/bootstrap/css/bootstrap.min.css"%}' rel="stylesheet">

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

  <!-- <script src='{%static "onePage/js/calendarJs.js"%}'></script> -->
  <script src='{%static "onePage/js/makeTeam.js"%}'></script>
  <script src='{%static "onePage/js/makePlan.js"%}'></script>
  <!-- =======================================================
    Template Name: Freelance
    Template URL: https://templatemag.com/freelance-bootstrap-template/
    Author: TemplateMag.com
    License: https://templatemag.com/license/
  ======================================================= -->
</head>
<form>
  <input type="hidden" id="hiddenUserId" value="{{request.session.userId}}">
</form>

<body data-spy="scroll" data-offset="0" data-target="#gn-menu">
  <!-- ========== MAIN MENU ========== -->
  <div class="container">
    <ul id="gn-menu" class="gn-menu-main">
      <li class="gn-trigger">
        <a class="gn-icon gn-icon-menu"><span>Menu</span></a>
        <nav class="gn-menu-wrapper">
          <div class="gn-scroller">
            <ul class="gn-menu">


            </ul>
          </div>
          <!-- /gn-scroller -->
        </nav>
      </li>
      <li><a href="#" id="logout-link" class="smoothscroll">Logout</a></li>
    </ul>
  </div>
  <!-- /container -->

  <section id="portfolio1" name="portfolio"></section>
  <!-- Tab links -->

  <div id="foliowrap">

    <div class="container">
      <!-- Tab links -->
      <h3>Make Team</h3>
      <div class="jamTab">
        <!-- <button class="tablinks" onclick="openCity(event, 'London')">Make Team</button>
        <button class="tablinks" onclick="openCity(event, 'Paris')">Jam Calendar</button>
        <button class="tablinks" onclick="openCity(event, 'Tokyo')">Jam Map</button> -->
        <button class="tablinks" id="make-team-tab-btn" value="make-team-tab-btn">Make Team</button>
        <button class="tablinks" id="search-team-tab-btn" value="search-team-tab-btn">Search Team</button>
        <button class="tablinks" id="manage-team-tab-btn" value="manage-team-tab-btn">Manage Team</button>
        <button class="tablinks" id="message-team-tab-btn" value="message-team-tab-btn">Message</button>
      </div>

      <!-- Tab content -->
      <div id="make-team-tab" class="tabcontent" value="make-team-tab-btn">
        <div>
          <table id="make-team-main-table">
            <tr>
              <td>
                <div class="dropdown">
                  <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">
                    Team List
                    <span class="caret"></span></button>
                  <ul class="dropdown-menu" id="tema-list-dropdown">
                    <!-- <li><a href="#"></a></li> -->
                  </ul>
                </div>
              </td>
              <td>
                <!-- <button id = "make-team-btn" class = "btn btn-primary btn-lg">Make Team</button> -->
                <button type="button" id="make-team-btn" class="btn btn-default signUp" data-toggle="modal" data-target="#layerpop">Make
                  Team</button>

                <div class="modal teamModal" tabindex="-1" role="dialog" id="layerpop">
                  <div class="modal-dialog" role="document">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h5 class="modal-title">Make Team</h5>
                        <button type="button" class="btn btn-default close" data-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                        </button>
                      </div>
                      <div class="modal-body">
                        <form id="make-team-form" action="/onePage//" method="POST">
                          {%csrf_token%}
                          <table>
                            <tr>
                              <td>
                                <label>Please write your Team Name</label>
                                <input id="make-team-name-input" type="text" name="sign-id-val" placeholder="Team Name">
                              </td>
                              <td>
                                {%csrf_token%}
                                <button type="button" class="btn btn-default" id="team-check">Check</button>
                              </td>
                            </tr>
                          </table>
                        </form>
                      </div>
                      <div class="modal-footer">
                        <table>
                          {%csrf_token%}
                          <tr><button type="button" class="btn btn-default signUpBtn" id="make-tema-name-btn">OK</button></tr>
                          <tr><button type="button" class="btn btn-default" data-dismiss="modal">Close</button></tr>
                        </table>

                      </div>
                    </div>
                  </div>
                </div>
              </td>
            </tr>
            <td>
              <div id="plan-board-div">
                <h3>
                  <div id="plan-name-head"></div> &nbsp; Plan Board
                </h3>

                <button type="button" id="add-plan-btn" class="btn btn-primary" data-toggle="modal" data-target="#layerpop-plan">Add
                  Plan</button>
                <div class="modal plan-modal" tabindex="-1" role="dialog" id="layerpop-plan">
                  <div class="modal-dialog" role="document">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h5 class="modal-title">Add Plan</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                        </button>
                      </div>
                      <div class="modal-body">
                        <form id="sign-form" action="/onePage/planNameAdd/" method="POST">
                          {%csrf_token%}
                          <table>
                            <tr>
                              <td>
                                <label>Please write your plan name</label>
                                <input id="team-name-plan" type="text" value="" name ="team-name-plan-val" placeholder="" readonly>
                                <input id="plab-name-text" type="text" name="plan-name-val" placeholder="Plan Name">
                              </td>
                            </tr>
                            <tr>
                              <td>
                                <input class ="btn btn-default" type="submit" value="OK">
                              </td>
                            </tr>
                          </table>
                        </form>
                      </div>
                    </div>
                  </div>
              </div>
            </td>
            </tr>
          </table>
          <table id="plan-list-board" class="table">
            <tr>
              <td id="plan-board-no">
                No.
              </td>
              <td id="plan-board-name">
                Plan Name
              </td>
              <td id="plan-board-del-btn">
                Delete Plan
              </td>
            </tr>
            {%csrf_token%}
            <!-- <tr>

            </tr> -->
          </table>
        </div>

      </div>
      <!-- Tab content -->
      <div id="search-team-tab" class="tabcontent" value="search-team-tab-btn">
        <div>
          <table>
            <tr></tr>
          </table>
        </div>

      </div>
      <!-- Tab content -->
      <div id="manage-team-tab" class="tabcontent" value="manage-team-tab-btn">
        <div>
          <table>
            <tr></tr>
          </table>
        </div>

      </div>
      <!-- Tab content -->
      <div id="message-team-tab" class="tabcontent" value="message-team-tab-btn">
        <div>
          <table>
            <tr></tr>
          </table>
        </div>

      </div>



      <div class="row">
        <!-- PORTFOLIO IMAGE 1 -->
        <div class="col-md-4 ">
          <div class="grid mask">
            <figure>
              <img class="img-responsive" src="img/portfolio/folio01.jpg" alt="">
              <figcaption>
                <h5>DASHBOARD</h5>
                <a data-toggle="modal" href="#myModal" class="btn btn-primary btn-lg">Take a Look</a>
              </figcaption>
              <!-- /figcaption -->
            </figure>
            <!-- /figure -->
          </div>
          <!-- /grid-mask -->
          <br>
        </div>
        <!-- /col -->

        <!-- PORTFOLIO IMAGE 2 -->
        <div class="col-md-4">
          <div class="grid mask">
            <figure>
              <img class="img-responsive" src="../img/portfolio/folio02.jpg" alt="">
              <figcaption>
                <h5>UI DESIGN</h5>
                <a data-toggle="modal" href="#myModal" class="btn btn-primary btn-lg">Take a Look</a>
              </figcaption>
              <!-- /figcaption -->
            </figure>
            <!-- /figure -->
          </div>
          <!-- /grid-mask -->
          <br>
        </div>
        <!-- /col -->

        <!-- PORTFOLIO IMAGE 3 -->
        <div class="col-md-4">
          <div class="grid mask">
            <figure>
              <img class="img-responsive" src="../img/portfolio/folio03.jpg" alt="">
              <figcaption>
                <h5>ANDROID PAGE</h5>
                <a data-toggle="modal" href="#myModal" class="btn btn-primary btn-lg">Take a Look</a>
              </figcaption>
              <!-- /figcaption -->
            </figure>
            <!-- /figure -->
          </div>
          <!-- /grid-mask -->
          <br>
        </div>
        <!-- /col -->
      </div>
      <!-- /row -->

      <!-- PORTFOLIO IMAGE 4 -->
      <div class="row">
        <div class="col-md-4 ">
          <div class="grid mask">
            <figure>
              <img class="img-responsive" src="../img/portfolio/folio04.jpg" alt="">
              <figcaption>
                <h5>PROFILE</h5>
                <a data-toggle="modal" href="#myModal" class="btn btn-primary btn-lg">Take a Look</a>
              </figcaption>
              <!-- /figcaption -->
            </figure>
            <!-- /figure -->
          </div>
          <!-- /grid-mask -->
          <br>
        </div>
        <!-- /col -->

        <!-- PORTFOLIO IMAGE 5 -->
        <div class="col-md-4">
          <div class="grid mask">
            <figure>
              <img class="img-responsive" src="../img/portfolio/folio05.jpg" alt="">
              <figcaption>
                <h5>TWITTER STATUS</h5>
                <a data-toggle="modal" href="#myModal" class="btn btn-primary btn-lg">Take a Look</a>
              </figcaption>
              <!-- /figcaption -->
            </figure>
            <!-- /figure -->
          </div>
          <!-- /grid-mask -->
          <br>
        </div>
        <!-- /col -->

        <!-- PORTFOLIO IMAGE 6 -->
        <div class="col-md-4">
          <div class="grid mask">
            <figure>
              <img class="img-responsive" src="../img/portfolio/folio06.jpg" alt="">
              <figcaption>
                <h5>PHONE MOCKUP</h5>
                <a data-toggle="modal" href="#myModal" class="btn btn-primary btn-lg">Take a Look</a>
              </figcaption>
              <!-- /figcaption -->
            </figure>
            <!-- /figure -->
          </div>
          <!-- /grid-mask -->
        </div>
        <!-- /col -->
        <br>
      </div>
      <!-- /row -->
    </div>
    <!-- /container -->
  </div>
  <!-- /foliowrap -->


  <section id="blog" name="blog"></section>
  <div class="container">
    <div class="row">
      <div class="col-lg-2"></div>
      <div class="col-lg-8 about">
        <h3>Generate MNIST data by GAN Deep Learning</h3>

        <h5>
          <div id="divMnist">
            <table class="mnistTableT">
              <th class=mnistTable>MNIST Data</th>
              <th class=mnistTable>Generated Data By GAN</th>
              <tr>
                <td><img class="mnist" src="../../static/onePage/img/mnistR.png" style=" width: 100%"></td>
                <td>
                  <img class="mySlides" src="../../static/onePage/img/kim1.png" style=" width: 100%">
                  <img class="mySlides" src="../../static/onePage/img/kim2.png" style=" width: 100%">
                  <img class="mySlides" src="../../static/onePage/img/kim3.png" style=" width: 100%">


                  <button class="w3-button w3-display-left mnistBtn" onclick="plusDivs(-1)">&#10094;</button>
                  <button class="w3-button w3-display-right" onclick="plusDivs(+1)">&#10095;</button>
                </td>
              </tr>
            </table>


          </div>
        </h5>
        <br>
        <br>

        <!-- ACCORDION -->
        <div class="accordion" id="accordion2">
          <div class="accordion-group">
            <div class="accordion-heading">

            </div>
            <!-- /accordion-heading -->
            <div id="collapseOne" class="accordion-body collapse in">
              <br>
              <div class="accordion-inner">

              </div>
              <!-- /accordion-inner -->
            </div>
            <!-- /collapse -->
          </div>
          <!-- /accordion-group -->
          <br>


          <!-- /accordion-group -->
          <br>


          <!-- /accordion-group -->
          <br>


          <!-- /accordion-group -->
          <br>
        </div>
        <!-- Accordion -->
      </div>
      <!-- /col-lg-6 -->

      <div class="col-lg-3"></div>
    </div>
    <!-- /row -->
  </div>
  <!-- /container -->

  <div id="testimonial">
    <div class="container">
      <div class="bs-example">
        <div id="carousel-example-generic" class="carousel slide bs-docs-carousel-example">


          <br>
          <br>
          <br>
        </div>
      </div>
    </div>
  </div>



  <div id="copyrights">
    <div class="container">
      <p>
        &copy; Copyrights <strong>Freelance</strong>. All Rights Reserved
      </p>
      <div class="credits">
        <!--
          You are NOT allowed to delete the credit link to TemplateMag with free version.
          You can delete the credit link only if you bought the pro version.
          Buy the pro version with working PHP/AJAX contact form: https://templatemag.com/freelance-bootstrap-template/
          Licensing information: https://templatemag.com/license/
        -->
        Created with Freelance template by <a href="https://templatemag.com/">TemplateMag</a>
      </div>
    </div>
  </div>


  <!-- JavaScript Libraries -->
  <!-- <script src="lib/jquery/jquery.min.js"></script>
  <script src="lib/bootstrap/js/bootstrap.min.js"></script>
  <script src="lib/php-mail-form/validate.js"></script>
  <script src="lib/easing/easing.min.js"></script>
  <script src="lib/chart/chart.js"></script>
  <script src="lib/classie/classie.js"></script>
  <script src="lib/gnmenu/gnmenu.js"></script> -->

  <!-- Template Main Javascript File -->
  <script src="../../static/onePage/js/main.js"></script>

</body>

</html>